@keyframes ldio-8mnre3j8axv {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-8mnre3j8axv div {
   box-sizing: border-box!important
}

.ldio-8mnre3j8axv > div {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #3a49f0 transparent #3a49f0 transparent;
  animation: ldio-8mnre3j8axv 1.36986301369863s linear infinite;
}

.ldio-8mnre3j8axv > div:nth-child(2), .ldio-8mnre3j8axv > div:nth-child(4) {
  width: 74px;
  height: 74px;
  top: 13px;
  left: 13px;
  animation: ldio-8mnre3j8axv 1.36986301369863s linear infinite reverse;
}

.ldio-8mnre3j8axv > div:nth-child(2) {
  border-color: transparent #f02c43 transparent #f02c43
}

.ldio-8mnre3j8axv > div:nth-child(3) {
  border-color: transparent 
}

.ldio-8mnre3j8axv > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-8mnre3j8axv > div:nth-child(3) div:before, .ldio-8mnre3j8axv > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 36px;
  background: #3a49f0;
  border-radius: 50%;
  box-shadow: 0 80px 0 0 #3a49f0;
}

.ldio-8mnre3j8axv > div:nth-child(3) div:after {
  left: -4px;
  top: 36px;
  box-shadow: 80px 0 0 0 #3a49f0;
}

.ldio-8mnre3j8axv > div:nth-child(4) {
  border-color: transparent; 
}

.ldio-8mnre3j8axv > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-8mnre3j8axv > div:nth-child(4) div:before, .ldio-8mnre3j8axv > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 31px;
  background: #f02c43;
  border-radius: 50%;
  box-shadow: 0 70px 0 0 #f02c43;
}

.ldio-8mnre3j8axv > div:nth-child(4) div:after {
  left: -4px;
  top: 31px;
  box-shadow: 70px 0 0 0 #f02c43;
}

.loadingio-spinner-double-ring-eqghyhu2xe {
  width: 78px;
  height: 78px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-8mnre3j8axv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-8mnre3j8axv div {
  box-sizing: content-box; 
}